* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}

/* SetGoals */
.container {
  width: 1200px;
  margin: 0 auto;
}
.set-goals {
  width: 90%;
  min-height: 70vh;
  margin: 0 auto;
  background: #eee;
  transform: translateX(0);
}
/* step1 */
.set-goals-title,
.set-goals-content {
  width: 80%;
  margin: 0 auto;
}
.main-title {
  text-align: center;
  margin-top: 2rem;
  box-sizing: border-box;
  padding: 2rem 0;
}
.sub-title {
  margin: 2rem 0;
}
.set-goals-content input[type='text']{
  padding: 0.5rem 1rem;
  width: 800px;
  border-radius: 20px;
}
.desc {
  margin: 1rem 0;
}
.set-goals-content button {
  padding: 0.2rem 2rem;
}
.on-next {
  transform: translateX(-100vw);
  transition: 1s;
}

/* media-quries */
@media (max-width:1200px) {
  .container {
    width: 100%;
  }
}