* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}

/* SetGoals */
.container {
  width: 1200px;
  margin: 0 auto;
}
.set-goals {
  width: 90%;
  min-height: 100vh;
  margin: 0 auto;
  background: #eee;
}
/* .set-goals-title */
.set-goals-title,
.set-goals-content {
  width: 80%;
  margin: 0 auto;
}
.main-title {
  text-align: center;
  box-sizing: border-box;
  padding: 4rem 0 2rem 0;
}
.sub-title {
  margin: 2rem 0;
}
/* .set-goals-content */
.set-goals-content input[type='text']{
  padding: 0.5rem 1rem;
  width: 800px;
  border-radius: 20px;
}
.errorMessage {
  font-size: 0.8rem;
  margin: 0.5rem 0 0 1rem;
  color: #888;
}
.desc {
  width: 100%;
  margin: 1rem 0;
}
.set-goals-content button {
  margin-top: 2rem;
  padding: 0.2rem 2rem;
}
.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.resetBtn {
  margin-left: 2rem;
}
.goal {
  width: 100%;
  height: 2rem;
  border: 1px solid #000;
  border-radius: 20px;
  margin: 0.5rem 0 1.5rem 0;
}
.set-goals-content textarea {
  margin-top: 0.5rem;
  padding: 1rem;
  width: 800px;
  height: 80px;
  border-radius: 20px;
}

/* media-quries */
@media (max-width:1200px) {
  .container {
    width: 100%;
  }
  .main-title {
    padding: 2rem 0;
  }
  .set-goals-content input[type='text']{
    width: 80%;
  }
}